/*
    Author: Yehan;
    Them: Online Fish Market
    version 1.0
*/

*{
    margin: 0;
    padding: 0;
    font-family: Arial, Helvetica, sans-serif;
}

.wrapper{
    padding: 1%;
    width: 80%;
    margin: 0 auto;
}
.text-center{
    text-align: center;
}

.clearfix{
    float: none;
    clear: both;
}

.tbl-full{
    width: 100%;
}

.tbl-30{
    width: 30%;
}

table tr th{
    border-bottom:1px solid black;
    padding: 1%;
    text-align: left;
}

table tr td{
    padding: 1%;
}

.btn-primary{
    background-color:#fab1a0;
    padding: 1%;
    color: white;
    text-decoration: none;
    font-weight: bolder;
}

.btn-primary:hover{
    background-color: #e17055;
}

.btn-secondary{
    background-color:#55efc4;
    padding: 1%;
    color: black;
    text-decoration: none;
    font-weight: bolder;
}

.btn-secondary:hover{
    background-color: #00b894;
}

.btn-danger{
    background-color:#fd79a8;
    padding: 1%;
    color: whitesmoke;
    text-decoration: none;
    font-weight: bolder;
}

.btn-danger:hover{
    background-color: #e84393;
}

/* css for menue */

.menu{
    border-bottom: 2px solid rgb(96, 96, 245);
}

.menu ul{
    list-style-type: none;
}

.menu ul li{
    display: inline;
    padding: 1%;
}

.menu ul li a{
    text-decoration: none;
    font-weight: bold;
    color: #70a1ff;
}

.menu ul li a:hover{
    color: #1e90ff;
}

.success{
    color: rgb(2, 168, 2);
}

.error{
    color: rgb(240, 75, 75);
}

/*css for main */

.main-content{
    background-color: #c7ecee;
    padding: 3% 0%;
}

.col-4{
    width: 18%;
    background-color: white;
    margin: 1%;
    padding: 2%;
    float: left;
}

/* css for footer */

.footer{
    background-color:#ced6e0;
    color: #2f3542;
}
